/*Google font Roboto*/
body {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
/*Places the container with everything inside to the middle of the screen*/
.place-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Container to keep everything inside a box*/
.container {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
/*Contains the text and styling of the upper part of the project*/
.upperPart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: ev;
  padding-left: 20px;
  height: 50%;
  background-image: url(./Images/upperPart.jpg);
  background-size: cover;
}
/*Styles the title text and paragraph with color and text shadow*/
h1,
h3 {
  color: white;
  text-shadow: 0px 0px 2px black;
}
/*Styles the generate password button*/
.gen-Password {
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 1px 2px black;
  background-color: #4a4e69;
}
.gen-Password:hover {
  background-color: #3f435a;
}
.gen-Password:active {
  background-color: rgb(118, 126, 174);
}
/*Contains the text and styling of the bottom part of the project*/
.bottomPart {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  background-image: url(./Images/bottomPart.jpg);
  background-size: cover;
}

.password1,
.password2 {
  background-color: #4a4e69;
  color: white;
  text-shadow: 0px 1px 2px black;
  padding: 20px 100px 20px 100px;
  border-radius: 4px;
  font-size: 12px;
}
